Web/CloudDo1Web/Service References/Myservice/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:33956/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:33956/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:33956/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
      <xsd:import schemaLocation="http://localhost:33956/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfService1.ServiceModels" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Test_InputMessage">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="IService1_Test_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertUser_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertUser" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertTask_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertTask" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LoadTask_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadTask" />
  </wsdl:message>
  <wsdl:message name="IService1_LoadTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Getuserbymail_InputMessage">
    <wsdl:part name="parameters" element="tns:Getuserbymail" />
  </wsdl:message>
  <wsdl:message name="IService1_Getuserbymail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetuserbymailResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Test" message="tns:IService1_Test_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/TestResponse" message="tns:IService1_Test_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertUser" message="tns:IService1_InsertUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertUserResponse" message="tns:IService1_InsertUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertTask" message="tns:IService1_InsertTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertTaskResponse" message="tns:IService1_InsertTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LoadTask" message="tns:IService1_LoadTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoadTaskResponse" message="tns:IService1_LoadTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Getuserbymail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Getuserbymail" message="tns:IService1_Getuserbymail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetuserbymailResponse" message="tns:IService1_Getuserbymail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://tempuri.org/IService1/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUser">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertTask">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadTask">
      <soap:operation soapAction="http://tempuri.org/IService1/LoadTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getuserbymail">
      <soap:operation soapAction="http://tempuri.org/IService1/Getuserbymail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:33956/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>