Web/CloudDo1Web/Service References/Myservice/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1.ServiceModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1.ServiceModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTaskCls">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaskCls" nillable="true" type="tns:TaskCls" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTaskCls" nillable="true" type="tns:ArrayOfTaskCls" />
  <xs:complexType name="TaskCls">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active_Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Priority" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Task" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaskList" nillable="true" type="tns:ArrayOfTaskCls" />
      <xs:element minOccurs="0" name="Task_Des" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaskCls" nillable="true" type="tns:TaskCls" />
</xs:schema>